* {
    box-sizing: border-box;
    text-align: center;
  }
  
body {
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    /* font-weight: bold; */
    margin: 0px;
}
h1 {
    color: #777;
}

p {
    color: #777;
}

.header {
    background-color: #ebebeb;
    padding: 30px;  
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.footer {
    background-color: #ebebeb;
    padding: 30px;  
    margin-top: 20px;
    
}
#nav {
    background-color: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
    
}

.wrapper {
    width: 960px;
    margin: 0 auto; /* centers the wrapper */
}

.floatleft {
  float: left;
  background-color: #ffffff; 
  margin-right: 20px;
}


.article {
  width: 495px; 
  background-color: #777; 
  color: #fff;
  padding: 20px;  
}

.info {
    margin: 10px auto;
    padding: 10px;
    background-color: #ffffff;
    color: #777;
    /* width: 90%; */
}

#text {
    color: #777;


}
#section {
    padding: 25px; 
}

#aside {
    padding: 25px; 
    width: 395px;
    height: 250px;
    background-color: #ebebeb;
    float: left;
}

    
}

#brclear {
    clear:both;
    height:0;
    margin:0;
    font-size: 1px;
    line-height: 0;
    } 

.clearboth {
    clear: both;
}